# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

######################
# Project Specific
######################
build/
/build/www/**
/frontend/build
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/
config/config.env
config/default.json
config/production.json
/scraping/services-json-files/
/backend/data/reviewsDataset*
/backend/data/reviews*
/uploads
/uploads/*
/datascience/nlp/glove*

######################
# Node
######################
/node/
node_tmp/
node_modules
node_modules/
npm-debug.log.*
/.pnp
.pnp.js
yarn-debug.log*
yarn-error.log*

######################
# SASS
######################
.sass-cache/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Python
######################
.venv

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
.eslintcache