/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

strong {
    font-weight: 900;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.shadow-button {
    margin: 15px;
    padding: 10px 15px;
    background-color: #0000002b;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
    font-size: 1rem;
    font-weight: 900;
    &:hover {
        animation-name: button-shadow-animation;
        animation-duration: 0.5s;
        box-shadow: 3px 3px 15px black, -3px -3px 15px black;
    }
    @keyframes button-shadow-animation {
        from {
            box-shadow: 0 0 0 black;
        }
        to {
            box-shadow: 3px 3px 15px black, -3px -3px 15px black;
        }
    }
}

.shadow-container {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* header */

.navbar-custom {
    font-size: 0.8rem;
    background-color: black;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
}

.home-h1 {
    font-size: 3rem;
    font-weight: 900;
    color: black;
}

.home-p {
    font-size: 1rem;
    font-weight: 900;
    color: black;
}

.buttons {
    margin-top: 20px;
}


/* home page */

.home {
    position: relative;
    height: 100vh;
    background: url("./services.jpg") no-repeat center center/cover;
}

.home-inner {
    margin: auto;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}


/* services page */

.service-card {
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    img {
        width: 100%;
        height: 250px;
    }
}

.services-container {
    margin-top: 7rem;
}

.search-box-form,
.geo-search-form {
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* specific service page */

.current-service-stats {
    display: flex;
    margin: 15px;
    padding: 10px 15px;
}

.interested-star {
    margin-top: -10px;
    visibility: hidden;
    cursor: pointer;
    font-size: 30px;
    color: orange;
    &:before {
        content: "\2605";
        color: orange;
        position: absolute;
        visibility: visible;
    }
    &:checked:before {
        content: "\2606";
        color: orange;
        position: absolute;
    }
}

.badge-font-large {
    font-size: 1rem;
}

.owner-card {
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.owner-card-blocked {
    height: 150px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background-color: #d4d4d4;
    color: black;
}